@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


section {
  background: white;
}
.section-header-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 4px 12px;
  border-radius: 9999px;
  border: 1px solid #2B104333;
  color: #2B1043;

}

.base-grey-text-100{
  color: #9E9E9E;
}
.base-grey-text-200{
  color: #5E5E5E;
}

.base-purple-text{
  color: #2B1043;

}
.base-purple-bg{
  background-color: #2B1043;

}

.base-purple-bg-2{
  background-color: #1A0A2E
}

.base-purple-text-100{
  color: #6B5B8A;
}

.base-purple-text-200{
  color: #735F8B;
}
.base-purple-text-300{
  color: #9B8AB0;
}

.base-purple-text-400 {
  color: #7A6A94;

}




.base-black-text{
  color: #1C1C1C;
}

.base-border-grey-100 {
  border: 1px solid #E0E0E0
}
.link-text{
  color: #2B1043;
  text-transform: capitalize;
}

.venue-date-text{
  color: #9E9E9E;
  font-size: 11px;
  line-height: 16.5px;
}

.pink-bg{
  background-color: #F5F0FF;
}

.core-pillar-section-bg{
  background-color: #F5F5F5;
}

.cta-service-link{
  border: 1px solid #2B104333;
}
.cta-community-link {
  box-shadow: 0px 4px 14px 0px #2B104359;

}

.comment-cont{
  border-top: 1px solid #EEEEEE;
  box-shadow: 0px 2px 12px 0px #0A0F2C0D;

}

.recognitionBoxShadow{
  box-shadow: 0px 2px 20px 0px #2B104312;

}

.common-card-shadow{
  box-shadow: 0px 2px 12px 0px #0A0F2C0F;
}

.core-pillar-section-shadow{
  @media (width >= 48rem /* 768px */) {
    box-shadow: 0px 4px 15px 0px #00000040 inset;
    box-shadow: 0px -4px 15px 0px #00000040 inset;
  }
 
}

.about-card-shadow {
  box-shadow: 0px 4px 20px 0px #0A0F2C24;
}

.aboutpage-about-minicard-shadow{
  box-shadow: 0px 4px 20px 0px #2B10431F;

}


.about-page-card-shadow {
  box-shadow: 0px 16px 60px 0px #2B104324;

}

.team-card-shadow {
  box-shadow: 0px 2px 16px 0px #2B104312;

}


.hero-card-shadow {

  box-shadow: 0px 4px 4px 0px #00000014;

}
.about-page-common-card-shadow {
  border-top: 1px solid #2B10430F;
  box-shadow: 0px 2px 12px 0px #2B104312;
}

.navbar-shadow {
    @media (width < 48rem /* 768px */) {
    box-shadow: 0px 2px 20px 0px rgba(43, 16, 67, 0.08);

  }
}

.achievement-card-shadow {
  border-top: 1px solid #2B10430F;
  box-shadow: 0px 2px 12px 0px #2B10430F;
}


.communities-stats-shadow {
  border-top: 1px solid #2B104312;
  box-shadow: 0px 2px 14px 0px #2B104314;

}

.hero-section-shadow {
  background: linear-gradient(180deg, rgba(245, 240, 255, 0) 30.57%, rgba(0, 0, 0, 0.1) 100%);
}

.about-page-about-section-shadow {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #F5F0FF 100%);
}

.link-shadow {
  box-shadow: 0px 4px 14px 0px #2B104359;
}

.link-border {
  border-top: 1px solid #2B104340
}
.common-rounding {
  border-radius: 16px;
}

.common-section-padding{
  @media (width >= 48rem /* 768px */) {
      padding-top: 112px;
      padding-bottom: 112px;
  }
  @media (width < 48rem /* 768px */) {
      padding-top: 80px;
      padding-bottom: 80px;
  }
}
.event-ongoing-bg {
  background-color: #22C55E;
}
.event-upcoming-bg {
  background-color: #F97316;
}
.event-past-bg {
  background-color: #5d5f5e;
}

.common-max-width {
  max-width: 1008px;
  padding-left: 32px;
  padding-right: 32px;
}

.about-page-common-max-width {
   @media (width >= 48rem /* 768px */) {
        max-width: 1023px;
        padding-left: 32px;
        padding-right: 32px;
  }
     @media (width < 48rem /* 768px */) {
        padding-left: 24px;
        padding-right: 24px;
  }

}

.smaller-text-size {
  @media (width < 40rem /* 546*/) {
      font-size: 24px;
      line-height: 36px;
  }
}

.smaller-section-header-text {
    @media (width < 40rem /* 546*/) {
      font-size: 9px;
  }
}

.icon-box-bg {
  background-color: #2B104314;
  
}

.icon-box-bg-100 {
  background: #2B10430F;
}

.clarity-text-gradient {
  background: linear-gradient(120deg, #FFB234 7.74%, #6A3FA0 58.45%, #C084FC 92.26%);
  background-clip: text;
  color: transparent;

}

.bg-dots {
  inset: 0;
  background-image: radial-gradient(#FFB23426 1.5px, transparent 0px);
  background-size: 12px 12px;
}

.white-bg-dots {
  inset: 0;
  background-image: radial-gradient(#FFffff 3px, transparent 0px);
  background-size: 12px 12px;
}




.about-page-linear-gradient-dot-grid-overlay {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #F5F0FF 100%);

}

.story-link-shadow {
  box-shadow: 0px 4px 18px 0px #FFB23473;
}

.story-cta-shadow {
  box-shadow: 0px 8px 40px 0px #2B104340;
}

.story-cta-gradient {
  background: radial-gradient(60% 80% at 100% 50%, rgba(255, 178, 52, 0.12) 0%, rgba(0, 0, 0, 0) 100%);
}


.smaller-text-8 {
      @media (width < 40rem /* 546*/) {
      font-size: 36px;
  }
}

.smaller-text-9 {
      @media (width < 40rem /* 546*/) {
      font-size: 10px;
      line-height: 14px;
  }
}



.smaller-text-10 {
      @media (width < 40rem /* 546*/) {
      font-size: 10px;
      line-height: 14px;
  }
}

.smaller-text-11 {
      @media (width < 40rem /* 546*/) {
      font-size: 11px;
  }
}

.smaller-text-12 {
      @media (width < 40rem /* 546*/) {
      font-size: 11px;
      line-height: 16px;

  }
}

.smaller-text-36 {
      @media (width < 40rem /* 546*/) {
      font-size: 36px;
      line-height: 36px;
  }

}